<div class="content-wrapper">
  <% if current_user  %>
    <div id="gh-user">
      <h2>GH user details</h2>
      <div class="gh-detail">
        <%= link_to(current_user.username,"http://github.com/#{current_user.username}") %>
      </div>
      <div class="gh-detail">
        <%= web_img(current_user.avatar_url) %>
      </div>
      <div class="gh-detail">
        <%= client.user.location %>
      </div>
    </div>

    <div id="gh-stats-container">
      <h2>Github stat dashboard</h2>
      <ul id="gh-stats">
        <li class="gh-stat"> Followers:    <%= client.user.followers %> </li>
        <li class="gh-stat"> Following:    <%= client.user.following %> </li>

        <li class="gh-stat"> Total  Repos:  <%= (@pub_rep_count + @priv_rep_count)%> </li>
        <li class="gh-stat"> Public Repos:  <%= @pub_rep_count %>   </li>
        <li class="gh-stat"> Private Repos: <%= @priv_rep_count %>  </li>
        <li class="gh-stat"> Others' Repos: <%= @other_rep_count %> </li>

        <li class="gh-stat"> Total Gists: <%= client.gists.count %> </li>
      </ul>
    </div>

    <div id="visualized">
      <h2>Charts here</h2>
    </div>

  <% else %>

    <div id="no-user-alert">
      <h1>Sign in above to see user details from Github</h1>
    </div>

  <% end %>
</div>
