<div class="content-wrapper">
  <% if current_user  %>
    <div id="gh-user">
      <h2>GH user details</h2>
      <div class="gh-detail">
        <%= link_to(current_user.username,"http://github.com/#{current_user.username}") %>
      </div>
      <div class="gh-detail">
        <%= web_img(current_user.avatar_url) %>
      </div>
      <div class="gh-detail">
        <%= current_user.github_user.location %>
      </div>
    </div>

    <div class="gh-stats-container">
      <h2>Github stat dashboard</h2>
      <ul class="gh-stats-list">
        <li class="gh-stat"> Followers:    <%= current_user.github_user.followers %> </li>
        <li class="gh-stat"> Following:    <%= current_user.github_user.following %> </li>

        <li class="gh-stat"> Public Repos:  <%= current_user.public_repo_count %>   </li>
        <li class="gh-stat"> Private Repos: <%= current_user.private_repo_count %>  </li>
        <li class="gh-stat"> Others' Repos Joined: <%= current_user.joined_repo_count %> </li>
        <li class="gh-stat"> Total Repos:  <%= (current_user.public_repo_count + current_user.private_repo_count + current_user.joined_repo_count)%> </li>

        <li class="gh-stat"> Total Gists: <%= current_user.github_user.public_gists %> </li>
      </ul>
    </div>

    <div class="gh-stats-container">
      <h2>10 Most Recently Updated Repos:</h2>
      <ul class="last-ten-list">
        <% current_user.last_ten_repos.map do |r| %>
          <li> <%= link_to(r[:name],r[:html_url]) %></li>
        <% end %>
      </ul>
    </div>

    <div class="gh-stats-container">
      <h2>Five Most Recent Gists:</h2>
      <ul class="last-ten-list">
        <% if current_user.all_gists.count == 0 %>
          <div class="warning">
            This user has not published any Gists
          </div>
        <% else %>
          <% current_user.last_five_gists.map do |g| %>
            <li> <%= link_to("gist name",g[:html_url]) %></li>
          <% end %>
        <% end %>
      </ul>
    </div>

    <div id="visualized">
      <h2>Charts here</h2>
      <div id="chart-1" class="chart-container">
      </div>
      <div id="chart-2" class="chart-container">
      </div>
    </div>

  <% else %>

    <div id="no-user-alert">
      <h1>Sign in above to see user details from Github</h1>
    </div>

  <% end %>
</div>
